#sidebar_plugin_exercise * .settings {
  width: 100%;
}

#sidebar_plugin_exercise * .settings-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 2em 0 2em;
}

#sidebar_plugin_exercise * .settings-label {}

#sidebar_plugin_exercise * .settings-label,
#sidebar_plugin_exercise * .settings-controls {
  width: auto;
  margin-left: auto;
}

#buttonGrid {
  display: block;
}

#buttonGrid > .buttonRow {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

#buttonGrid > .buttonRow > button:first-of-type,
#buttonGrid > .buttonRow > button:last-of-type{}

#buttonGrid * button {
  width: 3em;
  height: 3em;
}
